extends layout

block content
  h1= title
  p Welcome to #{title}
  p Exploring the api of user #{log}
  p With ID #{id}
  p Their name is #{name}
  p This is what they said about themself
  p #{bio}
  p Their profile was last updated on: #{update}
